
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'), url('ptsans.woff2') format('woff2'), url('ptsans.woff') format('woff'), url('ptsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'PT Sans';
    font-size: 16px;
    line-height: 26px;
    line-height: 1.75;
}

/* start section header */
    .header {
        height: 100vh;
        background: url(../image/fon.jpg);
        background-size: cover;
    }

    .header__container {

    }

    .header__container__box {
        display: flex;
        justify-content: flex-end;
    }

    .header__box__item {
        padding: 10px 30px 10px 30px;
    }

    .header__item-link {
        font-weight: 600;
        text-decoration: none;
        color: #aaaaaa;
        text-transform: uppercase;
    }
    
    .header__item-link:hover {
        color: #B82AC6;
        transition: 0.4s;
    }

    .header__container__text {
        padding-top: 200px;
        text-align: center;
    }

    .container__text__p {
        color: #aaaaaa;
        font-size: 46px;
    }
/* end section header */

/* start section about */
#about {
    background-color: #222121;
}

.about__title {
    padding: 90px 0px 40px 0px ;
    color: #aaaaaa;
    text-align: center;
    text-transform: uppercase;
}

.about__container {

}

.about__container__box {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.about__box__title {
    color: #aaaaaa;
    text-transform: uppercase;
}

.about__img {
    width: 450px;
    height: 310px;
    object-fit: cover;
}

.about__box__item {
    width: 550px;
}

.about__text {
    color: #aaaaaa;
}

.about__container__link {
    padding: 10px 40px;
    color: #aaaaaa;
    text-decoration: none;
    border: 1px solid #B82AC6;
    border-radius: 50px;
    font-weight: bold;
}

.about__container__link:hover{
    transition: 0.4s;
    color: #222121;
    background-color: #B82AC6;
}


/* stop section about */

/* start section skills */
#skills {
    background-color: #141414;
}

.skills__container__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 100px;
}

.slills__box__title {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #B82AC6;
    padding-bottom: 20px;
}

.skills__box__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    margin-top: 30px;
}

.skills-img {
    display: block;
    object-fit: contain;
}

.progress-bar {
    border:  1px solid #B82AC6;
    border-radius: 20px;
    height: 30px;
    width: 200px;
}

.progress-done {
    background-color: #B82AC6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease ;
}



/* stop section skills */

/* start sectin my-work */
    #my-work {
        background-color:#212121;
    }

    .my-work__container__box {
        display: flex;
        justify-content: space-around;
        padding-bottom: 50px;
    }
/* stop sectin my-work */


/* start section services */
#services {
    background-color: #14151A;
    padding-bottom: 50px;
}

.services__container__box {
    width:  500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #B82AC6;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #B82AC6;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}

.input__name {
    width: 400px;
    height: 30px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid black;
}

.serices__box__item {
    padding-bottom: 40px;
}

.input__mail {
    width: 400px;
    height: 30px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid black;
}

.textarea__service {
    width: 400px;
    height: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
}

.service__btn {
    border: 2px solid white;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 6px;
    padding: 0px 15px 0px 15px;
    text-transform: uppercase;
}

.service__btn:hover{
    background-color: #ffffff;
    color: #B82AC6;
    transition: 0.4s;
    border: 2px solid black;
}
/* stop section services */

/* start section footer */
#footer {
    background-color:#000000;
}

.footer__title {
    padding: 40px 0px 20px 0px ;
    color: #aaaaaa;
    text-align: center;
    text-transform: uppercase;
}

.footer__container__box {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.footer__box-link {
    padding-left: 10px;
}
/* stop section footer */

.my-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/* start section my-slider */

.my-slider {
    display: flex;
    width: 100% !important;
    align-items: center;
    padding-bottom: 100px;
}

.my-slider__item {
    transform: scale(0.8);
    min-height: 200px;
    border: 1px solid gray;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: none !important;
    outline: none !important;
    position: relative;
    padding: 0 !important;
}

.my-slider__img {
    width: 100%;
    height: 300px;  
    object-fit: cover;
}

.my-slider .slick-current {
    transform: scale(1) !important;
    transition-duration: 0.7s;
}

.my-slider .slick-active {
    transform: scale(0.8);
    transition-duration: 0.7s;
}



.arrow__img {
    object-fit: contain;
}

.my-slider .slick-list {
    width: 100% !important; 
}

.my-slider__hidden {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-duration: 1s;
    transition-property: opacity;
}

.my-slider__item:hover .my-slider__hidden {
    opacity: 1;
}

/* stop section my-slider */





